In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [11]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [12]:
df_iter = pd.read_csv(
    "./green_tripdata_2019-10.csv", iterator=True, chunksize=100000, low_memory=False
)

In [5]:

# df = next(df_iter)
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [14]:
for i, df in enumerate(df_iter):
    t_start = time()
    df.lpep_pickup_datetime = pd.to_datetime(df["lpep_pickup_datetime"])
    df["lpep_dropoff_datetime"] = pd.to_datetime(df["lpep_dropoff_datetime"])

    df.to_sql(con=engine, name="green_taxi_data", if_exists="append")
    t_end = time()
    print("inserted %d row in %.3f s " % (len(df), t_end - t_start))

inserted 100000 row in 9.321 s
inserted 100000 row in 9.405 s
inserted 100000 row in 10.045 s
inserted 100000 row in 10.510 s
inserted 76386 row in 6.645 s

In [6]:
print(pd.io.sql.get_schema(df, name="green_taxi_data", con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [13]:
df.head(n=0).to_sql(con=engine, name="green_taxi_data", if_exists="replace")

0